* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   color: #3c3c3c;
}
.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin: 20px 0;
}

.info__message {
  margin: 50px 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}